@charset "utf-8";
/* CSS Document */

@import url('font-awesome.min.css');
@import url('simple-line-icons.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@font-face {
    font-family: 'signpaintermedium';
    src: url('../fonts/signpainter-housescript-webfont.woff2') format('woff2'),
         url('../fonts/signpainter-housescript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    outline: none !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}
a{
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
}
a:hover,a:focus{text-decoration: none; color: #3f51b5;}


body,html{height: 100%;}
body{
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight:300;
    color: #8c8c8c;
    overflow-x: hidden;
    line-height: 20px;
    background-color: #f2f4fa;
}

header{height: 50px; background-color: #fcfdff; border-bottom: 1px solid #e8ebf6;}
header .navbar-brand{font-family: 'signpaintermedium';}


.main-header .navbar{padding:0 0 0 15px; height: 50px}
.main-header .navbar-brand{padding: 0; font-size: 40px; line-height: 40px; color: #0e1519;}
.main-header .navbar-setting{padding: 0 10px !important; border-left: 1px solid #e8ebf6;}
.main-header .navbar-setting>li>a{padding: 14.5px 18px !important;  position: relative;}
.main-header .navbar-setting li>a>img{width: 20px; opacity: 0.5;}
.main-header .navbar-setting li a:hover img{opacity: 1;}
.main-header .navbar-setting .numb{     
    height: 22px;
    min-width: 22px;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: 8px;
    left: 30px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    line-height: 19px;
    border: 2px solid #fff;
    padding: 0 5px;}
.main-header .navbar-setting .numb.red{ background-color: #ed3f17; }
.main-header .navbar-setting .numb.blue{ background-color: #1795ed; }
.main-header .navbar-setting .numb.ylw{ background-color: #ffbe40; }
.main-header .navbar-setting .numb.grn{ background-color: #6cd040; }


.breadcrumb-wrap{display: inline-block;}
.breadcrumb-wrap ul{margin: 0; padding: 0; list-style: none;}
.breadcrumb-wrap ul li{ position: relative; }
.breadcrumb-wrap ul li:before{ font-family: 'Montserrat', sans-serif;   position: absolute;
    content: '/';
    left: 0;
    top: 0;
    font-size: 24px;
    color: #c2c7d3; font-weight: 300;}
.breadcrumb-wrap ul li a{padding:5px 20px; color: #161d30; text-transform: uppercase; font-family: 'Poppins', sans-serif; font-weight: 500;  }
.main-header-right{ display: flex; flex-direction: row; margin-left: auto;}
.main-header-right .btn-holder{padding: 9px 0;}
.main-header-right .btn-holder .btn-comn{ margin-right: 10px; }

.sidebar-tgl-bar{    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #e8ebf6;
    width: 50px;
    border-bottom: 1px solid #e8ebf6;
    padding: 12px 15px;
    height: 50px;
    text-align: center;background-color: #fff; cursor: pointer; }
.sidebar-tgl-bar img {max-width: 100%;}

.main-header .cart-info-link img{width: 26px; }
.main-header .cart-info-link{padding: 12px 18px !important; border-left: 1px solid #e8ebf6; position: relative;}
.main-header .prfl-info-link{padding: 8px 18px !important; border-left: 1px solid #e8ebf6;}
.main-header .prfl-info-link img{ width: 34px; height: 34px; border-radius: 100%;}

.main-header .cart-info-link .numb{height: 22px;
    min-width: 22px;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: 8px;
    left: 30px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    line-height: 19px;
    border: 2px solid #fff;
    padding: 0 5px; background-color: #ed3f17;}


/*---Sidebar---*/

.sidebar {
  width: 50px;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  z-index: 99;
  border-right: 1px solid #e8ebf6;
  background-color: #fff;
    transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
}
.sidebar.off{left:-50px;}
.main-wrapper.full{padding-left: 0;}

.sidebar .navbar-nav a{    padding: 15px 15px; display: block; background-color: #fff;}
.sidebar .navbar-nav a img{ max-width: 100%; }
.sidebar .navbar-nav a:hover{background-color: #f2f4fa; }


.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
  position: relative;
}

.sidebar-sub-nav{    
    position: absolute;
    top: 0;
    left: -150px;
    background-color: #fff;
    display: block;
    min-width: 150px;
    padding: 0 10px;
    min-height: 50px; opacity: 0; z-index: -1; 
    box-shadow: 0 1px 2px rgba(0,0,0,0.1); 
    transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;}

.sidebar-sub-nav h4{ font-size: 16px;
    color: #4859b8;
    font-weight: 400;
    line-height: 50px;}  

  .sidebar .nav-item:hover .sidebar-sub-nav{ opacity: 1; left: 50px; }  

.main-wrapper{width: 100%; padding-left: 50px; padding-bottom: 90px; padding-top: 50px; min-height: 100%; position: relative; 
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
}

.content-wrapper{padding:30px; position: relative;}
.content-wrapper.topPadding{padding-top:80px;}
.wrapper-header{height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #e8ebf6;
    padding-right: 15px;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    padding-left: 50px;z-index: 80;}

.wrapper-header-left{float: left; position: relative; z-index: 2;}
.wrapper-header-right{float: right; 
    display: flex;
    align-items: center;
    height: 50px; position: relative; z-index: 2;}


.filter-nav-holder {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.filter-nav{display: inline-block; margin: 0; padding: 0;}
.filter-nav li{list-style: none; display: inline-block;}
.filter-nav li a{font-size: 13px; text-transform: uppercase; color: #000; font-weight: 400; padding: 15px; display: block;}
.filter-nav li a:hover,.filter-nav li a.active{box-shadow: inset 0 -3px 0 #4859b8; color: #4859b8;}


.btn.btn-comn{background-color: #3f51b5; color: #fff; font-size: 13px; text-transform: uppercase; cursor: pointer;}
.btn.btn-comn:hover{background-color: #283892;}
.btn:focus{outline: none; box-shadow: none;}


/*checkbox readio*/

.custom-radio,.custom-check {
    position: relative;
}
.custom-radio input[type="radio"],.custom-check input[type="checkbox"] {
    position: absolute;
    left: -999px;
}
.custom-radio input[type="radio"]+label , .custom-check input[type="checkbox"]+label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #000000;
    position: relative;
    padding-left: 25px;
    margin-bottom: 0;
}
.custom-radio input[type="radio"]+label::before {
    content: '';
    height: 18px;
    width: 18px;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.custom-radio input[type="radio"]:checked+label::after {
content: '';
    width: 6px;
    height: 6px;
    background: #030f6c;
    border-radius: 100%;
    position: absolute;
    top: 6px;
    left: 6px;
}
.custom-radio input[type="radio"]:checked+label::before{border: 1px solid #3f51b5;}

.custom-check input[type="checkbox"]+label::before {
content: '';
height: 18px;
width: 18px;
border: 1px solid #e0e0e0;
border-radius:0;
position: absolute;
left: 0;
top: 0;
}
.custom-check input[type="checkbox"]:checked+label::before{border: 1px solid #3f51b5;}
.custom-check input[type="checkbox"]:checked+label::after {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    width: 17px;
    height: 14px;
    color: #3f51b5;
    position: absolute;
    top: 1px;
    left: 3px;
    font-size: 13px;
    line-height: 18px;
}

.refine-link{font-size: 13px; color: #000000 !important; font-weight: 400; display: inline-block; cursor: pointer; text-transform: uppercase; padding: 14px 20px;
    border-right: 1px solid #e8ebf6;}
.refine-link img{    max-width: 16px;}

.refine-wrap.active .refine-link{background-color: #fcfdff;}

.refine-wrap{ position: relative; float: left;}
.refine-list-box h4{font-weight: 500; font-size: 14px; color: #000000; text-transform: uppercase;}
.refine-list-wrap{width: 260px; background-color: #fcfdff;border-right: 1px solid #e8ebf6;  position: absolute; 
  left: 0; top: 49px;display: none; height: 70vh;}

.refine-list-wrap-inr{height: 100%; padding-bottom: 50px; padding:0 15px; position: relative;}

.refine-list-box ul{margin: 0; padding: 0; list-style: none;}
.refine-list-box ul li{display: block; padding: 8px 0;}
.refine-list-box{padding: 15px 0; border-top: 1px solid #e8ebf6;}
.refine-list-wrap .refine-list-box:nth-of-type(1){border-top:none;}

.refine-list-box h4 {
    font-weight: 500;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
        margin-bottom: 10px;
}


.topSearch-wrp{position: relative; float: left; }
.topSearch-link{ line-height: 50px; padding: 0px 15px; display: inline-block;}
.topSearch-link img{width: 20px;}
.topSearch-box{
  position: relative;
    width: auto;
    padding: 0;
    background-color: #fcfdff;
    border: none;
    left: 0;
    top: auto;
    border-top: none;
}
.topSearch-group{    position: relative;
    padding-right: 40px;}
.topSearch-group .form-control{    color: #8c8c8c;
    font-size: 13px;
    border-radius: 0;
    height: 49px;
    font-weight: 300;
    border: none;
    border-right: 1px solid #e8ebf6;
    width: 0;
    padding: 0;
    opacity: 0;
    transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;
  }
.topSearch-group .search-btn{ position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    line-height: 50px;
    padding: 0 10px;
    cursor: pointer;
    color: #8c8c8c;}
.topSearch-group .search-btn:focus{outline: none;}
    .search-btn img{width: 20px;}

.topSearch-group.active .form-control{width: 150px; padding: 0 10px; opacity: 1;}    

.clearAll-wrap{width: 100%; padding: 10px 0; background-color: #fff; position: absolute; bottom: 0; left: 0; right: 0; text-align: center;}
.clearAll{color: #bababa; font-size: 11px; background-color: #f5f7fb; padding: 5px 10px; border-radius:6px; margin:0;}
.clearAll:hover{background-color: #3f51b5; color: #fff;}

/*listing*/
.listing-col{margin-bottom: 25px;}

.listing-block{ border-radius: 3px;
    position: relative;
    background: #fff;
    padding: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);}
.listing-block .img-sec {
    height:160px;
    margin-bottom: 10px; position: relative;
}
.listing-block .img-sec img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.heading-text{font-family: 'Poppins', sans-serif; color: #161d30;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;}
.listing-text h3{  font-size: 18px;
    font-weight: 300;
    color: #000000;
    line-height: 18px; margin-bottom: 5px;}
    .listing-dsc-text{height: 40px; overflow-y: hidden;}
    .listing-dsc-text p{font-weight: 300; color: #8c8c8c; font-size: 13px; line-height: 14px; margin-bottom: 0;}
   .listing-sm-info{  margin: 5px 0 0 0;} 
   .listing-sm-info .type{font-size: 11px; text-transform: uppercase; font-weight: 500; color: #bababa; margin-bottom: 5px; display: inline-block;}
   .listing-sm-info .catg{    color: #bababa;
    font-size: 11px;
    background-color: #f5f7fb;
    padding: 4px 13px;
    border-radius: 20px;
    margin-bottom: 5px;
    display: inline-block;
    line-height: 14px;}

   .listing-block .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    width: 100%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    opacity: 0;
}





.listing-block .listing-block-actions {
    position: absolute;
    bottom: 4px;
    left: 0;
    display: block;
    width: 100%;
    margin-left: auto;
    text-align: center;
    
}

 .listing-block .button-action {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 0;
    border: 0;
    overflow: visible;
    border-radius: 49%;
    -webkit-border-radius: 49%;
    -moz-border-radius: 49%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: 0 2px 12px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 12px 3px rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 3px rgba(0,0,0,.1);
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    cursor: pointer;
}


.listing-block .button-action-play{background: rgba(63,81,181,.9) url(../images/play-wht.svg) center center no-repeat;  background-size: 28px auto;}
.listing-block .button-action-like{background: rgba(63,81,181,.9) url(../images/like-wht.svg) center center no-repeat;  background-size: 16px auto;}
.listing-block .button-action-cart{background: rgba(63,81,181,.9) url(../images/cart-wht.svg) center center no-repeat;  background-size: 15px auto;}

.listing-block .button-action-like.active{background: rgba(255,255,255,1) url(../images/like-red.svg) center center no-repeat;  background-size: 15px auto;}
.listing-block .button-action-cart.active{background: rgba(255,255,255,1) url(../images/cart-color.svg) center center no-repeat;  background-size: 15px auto;}



.listing-block .listing-selected-actions {
    position: absolute;
    top: 4px;
    right: 5px;
    display: block;
    width: 35px;
    text-align: right;
}

.listing-block .listing-selected-actions .button-action{width: 25px; height: 25px;}

.listing-selected-actions .button-action-like.active{background: rgba(255,255,255,1) url(../images/like-red.svg) center center no-repeat;  background-size: 12px auto;}
.listing-selected-actions .button-action-cart.active{background: rgba(255,255,255,1) url(../images/cart-color.svg) center center no-repeat;  background-size: 14px auto;}

.listing-block:hover .listing-selected-actions{ opacity: 0; }
.listing-block:hover .overlay{opacity: 1;}


.videoWrapper {
 position: relative;
 padding-bottom: 56.25%; /* 16:9 */
 padding-top: 25px;
 height: 0;
}
.videoWrapper iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.modal-dialog.full-modal-dialog{ max-width: 100%;
    margin: 0;
    width: 100%;}
.full-modal-dialog .modal-body{padding: 0; background-color: rgba(0,0,0,1)}
.full-modal-dialog .modal-body-inr{padding: 20px;}
.full-modal-dialog .close{position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.6);
    right: 0;
    top: 0;
    z-index: 2;
    color: #fff;
    text-shadow: none;
    font-size: 40px;
    border-radius: 100%;}

    .admin-footer{padding: 15px; position: absolute; bottom: 0; width: 100%; text-align: center;}
    .footer-logo{font-family: 'signpaintermedium'; color: #0e1519; opacity: 0.2; font-size: 33px; line-height: 40px; }
    .copyrightText{color: #afb5c5;}

    /*header dropdown menu*/

.main-header .dropdown-menu {    min-width: 160px;
    max-width: 275px;
    width: 275px;
    z-index: 999;
    border-radius: 3px;
    padding: 0;
    box-shadow: 0 4px 25px rgba(0,0,0,0.1);
    margin-top: 5px; border:1px solid #e8ebf6;}
.main-header .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block!important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
.main-header .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e8ebf6;
    border-left: 7px solid transparent;
    content: '';
}

.main-header .dropdown-menu>li.external {
    display: block;
    overflow: hidden;
    padding: 15px 10px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #e8ebf6;
}
.main-header .dropdown-menu>li.external>h3 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: #3f51b5;
    padding-right: 80px;
    font-weight: 300;
}
.main-header .dropdown-menu>li.external>a {
    display: inline-block;
    position: absolute;
    right: 10px;
    color: #8e8e8e;
    font-size: 11px;
    background-color: #f5f7fb;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0;
    line-height: 14px;
    top: 12px;
}
.main-header .dropdown-menu>li.external>a:hover{ background-color: #3f51b5; color: #fff; }
.semibold {font-weight: 600!important;}

.dropdown-menu-list-wrap{height: 280px; position: relative; overflow-y: auto;}
.dropdown-menu-list{margin: 0; padding: 0; list-style: none;}
.dropdown-menu-list>li>a {
     display: block;
    clear: both;
    line-height: 20px;
    font-size: 13px;
    padding: 10px 10px 10px;
    text-shadow: none;
    background-color: #fcfdff;
    border-bottom: 1px solid #e8ebf6;
}
.dropdown-menu-list>li>a:hover{ background-color: #f5f7ff; }

.dropdown-menu-list .time{    background-color: #eff1fd;
    color: #3f51b5;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;}
.dropdown-menu-list .details{ position: relative;padding-left: 25px;padding-right: 60px;}
.dropdown-menu-list .details .icon{    width: 20px;
    height: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;     font-size: 11px;}
    .details p{line-height: 15px; color: #8c8c8c; margin-bottom: 0;}

.dropdown-msg-media .img-wrap{width: 30px; height: 30px; border-radius: 100%;}
.dropdown-msg-media img{width: 30px; height: 30px; border-radius: 100%; object-fit: cover; border-radius: 100%;  } 
.dropdown-msg-media .media-body h4{font-weight: 400; color: #161d30; font-size: 13px; position: relative; line-height: 20px; padding-right: 60px; margin-bottom: 5px;}
.dropdown-msg-media .media-body p{font-weight: 300;color: #8c8c8c; font-size: 12px; margin-bottom: 0; line-height: 14px;}
.dropdown-msg-media .media-body{position:relative;}


.dropdown-menu.prfl-dropdown-menu{ max-width: 180px;}

.prfl-dropdown-menu>li>a {
    display: block;
    clear: both;
    line-height: 15px;
    font-size: 13px;
    padding: 10px 10px 10px;
    text-shadow: none;
    background-color: #fcfdff;
    border-bottom: 1px solid #e8ebf6;
    color: #000;
    font-weight: 400;
}
.prfl-dropdown-menu>li>a:hover {
    background-color: #f5f7ff;
}

.prfl-dropdown-menu>li>a i {
    width: 15px;
    display: inline-block;
    margin-right: 9px;
    color: #000;
}
.prfl-dropdown-menu>li>a .badge{    
    width: 20px;
    height: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    text-align: center;
    display: inline-block;
    border-radius: 100%; line-height: 17px; margin-left:5px;}


 .card.custom-card{ border: none; box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);}  

 .selectedCredit-info{    display: flex;
    align-items: center;
    flex-direction: row; justify-content: space-around;}
 .selectedCredit-info-right{padding-left: 20px; border-left: 1px solid #e8ebf6;}   

 .creditPackage-list-item{    border-top: 1px solid #e8ebf6;  padding: 15px 0;}

.creditPackage-list-item:nth-last-of-type(1){padding-bottom: 0;}
.creditPackage-list-item:nth-of-type(1){padding-top: 0;  border-top: none;}

.creditPackage-smInfo{    display: flex;  display: -webkit-flex;
    flex-direction: row; -webkit-flex-direction: row;
    justify-content: space-between; -webkit-justify-content: space-between;}

.creditPackage-smInfo .title{color: #000000; font-size: 15px; -webkit-flex-basis: 110px; flex-basis: 110px;}    
.creditPackage-smInfo .priceInfo{ color: #161d30; -webkit-flex-basis: 110px; flex-basis: 110px;}
.creditPackage-smInfo .priceInfo .numb{ font-size: 14px; font-weight: 500;}
.creditPackage-smInfo .priceInfo .price{font-size: 18px; line-height: 28px;}
.creditPackage-smInfo .btn-holder{display: flex; display: -webkit-flex; align-items: center; }

.btn.buy-btn{color: #3f51b5;
    font-size: 12px;
    padding: 8px 15px;
    background-color: #eff1fd;
    text-transform: uppercase;
    cursor: pointer;
    min-width: 110px;}
.btn.buy-btn:hover{background-color: #3f51b5; color: #fff;}    

.btn.buy-btn.selected{     position: relative;
    padding-left: 30px;
    background-color: #fff;
    border: 1px solid #dae0ff;}

.btn.buy-btn.selected:before{     content: "\f00c";
    font: normal normal normal 13px/1 FontAwesome;
    position: absolute;
    left: 15px;
    line-height: 15px;}

.btn.buy-btn.selected:hover{ background-color: #eff1fd; color: #3f51b5;}    

.selectedCredit-info-wrap h3{    
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 15px;
    color: #161d30;}

.selectedCredit-info-wrap{margin-bottom: 30px;}
.selectedCredit-info-wrap h2{font-size: 18px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 12px;}
 .selectedCredit-info-left h4{    font-size: 18px;
    color: #000000;
    font-weight: 300;margin-bottom: 5px;}   

 .promoCode-wrap h4{font-size: 15px;
    font-weight: 300;
    color: #000000;
    margin-bottom: 12px;}   

.promoCode-input-group{padding: 10px 160px 10px 10px;}    
.promoCode-input-group input[type='text']{    
    height: 40px;
    border: none;
    vertical-align: top;
    padding: 5px;
    width: 100%;}
.promoCode-input-group input[type='text']:focus{outline: none;}    
.promoCode-input-group .btn-promoCode{background-color: #fff;
    border: 1px solid #dae0ff;
    font-size: 12px;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    color: #3f51b5;
    line-height: 18px;
    position: absolute;
    right: 10px;
    top: 10px;}
 .promoCode-input-group .btn-promoCode:hover{background-color: #dae0ff;}   
.selectedCredit-info-right .price-info{color: #161d30;}
  .selectedCredit-info-right .price-info .title{    font-family: 'Poppins', sans-serif;
        font-size: 15px;
    display: block;
    font-weight: 500;    line-height: 25px;}   
     .selectedCredit-info-right .price-info .price{    font-size: 22px;
    font-weight: 500;
    line-height: 35px;}

    .promoCode-wrap{margin-bottom: 55px;}

    .buyCredit-right-wrap .pay-btn-holder{ margin-top: 20px; }


/* Cart Page */

.cart-listing{
    max-width: 50rem;
    margin: auto;
}
.cart-listing .card{
    padding: 0 1rem;
}
.cart-listing .card .card-title{
    color: #161d30;
    margin-top: .75rem;
    font-family: 'Poppins', sans-serif;
}
.cart-listing .list-group-item{
    padding-left: 0;
    padding-right: 0;
}
.vid-row{
    position: relative;
}
.vid-row .cart-vid-thumb{
    width: 135px;
    height: 90px;
    position: relative;
    margin-right: 15px;
    float: left;
}
.vid-row .cart-vid-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vid-row .vid-desc{
    float: left;
}
.vid-row .vid-desc h5{
    font-weight: 400;
    color: #000;
    margin-top: 5px;
    margin-bottom: 7px;
}
.vid-row .vid-desc .cr-no{
    margin: 7px 0;
}
.vid-row .vid-desc .vid-meta{
    margin: 7px 0 0;
}
.vid-row .vid-desc .vid-meta a{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    color: #3f51b5;
}
.vid-row .vid-desc .vid-meta a:after{
    width: 1px;
    height: 15px;
    background: #c2c7d3;
    position: absolute;
    right: -12px;
    top: 3px;
    content: "";
}
.vid-row .vid-desc .vid-meta a:last-child:after{
    display: none;
}
.vid-row .vid-desc .vid-meta a:hover{
    text-decoration: underline;
}
.vid-row .vid-count{
    position: absolute;
    height: 30px;
    border: 1px solid #eceff4;
    right: 0;
    top: 50%;
    margin-top: -15px;
    padding: 0 20px;
    border-radius: 30px;
    color: #c2c7d3;
}
.vid-row .vid-count span{
    display: inline-block;
    padding: 0 15px;
    line-height: 30px;
}
.vid-row .vid-count a{
    position: absolute;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    top: 0;
    color: #c2c7d3;
    font-size: 18px;
    font-weight: 400;
}
.count-left{
    left: 0;
}
.count-right{
    right: 0;
}
.vid-row .vid-count a:hover{
    color: #333;
}
.total-card{
    background: #fff;
    margin: .5rem 0 3rem;
    min-height: 80px;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.05);
}
.total-card .tot-amt{
    line-height: 80px;
    padding: 0 2rem;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.total-card .tot-amt.no-credit{
    line-height: normal;
    padding: .5rem 2rem;
    max-width: 490px;
}
.total-card .tot-amt .buy-credit{
    font-size: 12px;
    color: #e83d3d;
    margin-top: .5rem;
}
.total-card .tot-amt .buy-credit a{
    color: inherit;
    text-decoration: underline;
}
.total-card .tot-amt .buy-credit a:hover{
    color: #333;
}
.total-card .tot-right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 2rem;
    border-left: 1px solid #e8ebf6;
}
.total-card .tot-cr{
    display: inline-block;
    line-height: 80px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
}
.total-card .tot-right .btn{
    margin-left: 10px;
}

.payment-wrap{
    max-width: 50rem;
    margin: auto;
}
.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.payment-wrap .card-icon{
    position: relative;
    width: 200px;
    height: 189px;
    margin: 2rem auto;
    background: url(../images/card-payment.png) no-repeat;
    background-size: 100% auto;
}
.payment-success-icon{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: #36d636;
    color: #fff;
    line-height: 55px;
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
}
.payment-error-icon{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background: #ec3c3c;
    color: #fff;
    line-height: 55px;
    position: absolute;
    font-size: 20px;
    right: 0;
    bottom: 0;
}
.payment-wrap .pay-txt{
    margin: 2rem 0;
}
.payment-wrap .pay-txt h4{
    text-transform: uppercase;
    color: #161d30;
    margin-bottom: .5rem;
}
.payment-wrap .pay-txt p{
    color: #7a7d85;
    font-size: 16px;
}
.payment-wrap .pay-summary{
    margin: 5rem 0 2rem;
}
.payment-wrap .pay-summary > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.payment-wrap .pay-summary > ul > li{
    display: inline-block;
    margin-right: 2rem;
    padding-right: 2rem;
    border-right: 1px solid #e8ebf6;
}
.payment-wrap .pay-summary > ul > li:last-child{
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
.payment-wrap .pay-summary{
    color: #161d30;
}
.payment-wrap .pay-summary p{
    font-size: 16px;
    margin-bottom: .5rem;
}
.payment-wrap .pay-summary h5{
    text-transform: uppercase;
}
.align-mid{
    display: flex;
    align-items: center;
    height: 100%;
}
.text-center .align-mid{
    justify-content: center;
}
.history-stat{
    margin-bottom: 3rem;
}
.history-stat .col{
    border-right: 1px solid #e8ebf6;
}
.history-stat .col:last-child{
    border-right: none;
}
.history-stat .stat-block h4{
    font-weight: 400;
}
.history-stat .stat-block p{
    margin: .3rem 0 0;
    font-size: 16px;
    color: #161d30;
}
.color-green{
    color: #6cd040;
}
.color-yellow{
    color: #ffbe40;
}
.color-blue{
    color: #1795ed;
}
.color-red{
    color: #ed3f17;
}
.history-tools{
    margin-bottom: .8rem;
}
.history-table .table thead th{
    font-weight: 500;
    color: #161d30;
    border-top: none;
    border-bottom: 1px solid #e9ecef;
}
.badge{
    font-weight: 400;
    padding: .3rem .5rem;
    border-radius: .7rem;
    letter-spacing: 1px;
}
.badge-success{
    background: #6cd040;
}

.smHeading{ font-size: 0.88rem; color: #161d30; line-height: 1.5rem; font-family: 'Poppins', sans-serif; font-weight: 500; }

.tools-dropdown{display: inline-block;}
.tools-dropdown .dropdown-toggle{    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: #000;}
.tools-dropdown .dropdown-toggle::after{border-top: .3em solid #3f51b5;}
.tools-dropdown .dropdown-menu{border: none; box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);}
.tools-dropdown .dropdown-menu ul{margin: 0; padding: 0; list-style: none;}
.tools-dropdown .dropdown-menu ul li{padding: 0.20rem 0.60rem; cursor: pointer; font-size: 0.80rem; color: #8c8c8c;}
.tools-dropdown .dropdown-menu ul li.active{color:#3f51b5; }



.myVideo-tools{margin-top: 1.8rem; margin-bottom: 1.2rem;}

.myOrder-listing .list-group-item {
    padding-left: 0;
    padding-right: 0;
}
.myOrder-listing .card-block{ padding-top: 0; padding-bottom: 0;}
.card-title{
    color: #161d30;
    margin-top: .75rem;
    font-family: 'Poppins', sans-serif;
}
.card-title .view-all{font-size: 0.80rem;color: #3f51b5; font-weight: 400; text-transform: uppercase; line-height: 1.70rem;}
.card-title .view-all:hover{color: #000;}

.myOrder-listing .cr-no{ font-size: 0.85rem; color: #3f51b5; font-weight: 400; }
.myOrder-listing .vid-row{}

.data-dropdown .link{background-color: transparent; border: none; line-height: 0.20rem; color: #bfc4d0; font-size: 1rem;}
.badge-warning.font-wht{ color: #fff; }

.vid-row .action{ padding-left: 0.85rem; }

.data-dropdown .dropdown-menu{border: none; box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);}
.data-dropdown .dropdown-menu ul{margin: 0; padding: 0; list-style: none;}
.data-dropdown .dropdown-menu ul li{padding: 0.20rem 0.60rem; cursor: pointer; font-size: 0.80rem; color: #c9ced8;}
.data-dropdown .dropdown-menu ul li.active{color:#3f51b5; }


.data-search-wrap form{ margin: 0; }
.dataSearch-group {
    position: relative;
    padding-right: 40px;
    background-color: #f6f7fb;
    border-radius: 20px;
}

.dataSearch-group .form-control {
    color: #8c8c8c;
    font-size: 13px;
    border-radius: 0;
    height: 40px;
    font-weight: 300;
    border: none;
    width: 0;
    padding: 0;
    opacity: 0;
    transition: all ease-in-out 400ms;
    -webkit-transition: all ease-in-out 400ms;
    -moz-transition: all ease-in-out 400ms;
    -ms-transition: all ease-in-out 400ms;
    background-color: transparent;
}
.dataSearch-group .dataSearch-btn {
    position: absolute;
    right: 0;
    top: 10px;
    background-color: transparent;
    border: none;
    line-height: 36px;
    padding: 0 10px;
    cursor: pointer;
    color: #8c8c8c;
    opacity: 0.5;
}
.dataSearch-btn img{width: 20px;}
.dataSearch-group.active .form-control{width: 150px; padding: 0 10px; opacity: 1;}

/* My Video */
.myvid-list .vid-top{
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
}
.myvid-list .vid-ord-id{
    color: #333;
    font-weight: 400;
    letter-spacing: 1px;
}
.myvid-list .vid-ord-id strong{
    color: #adadad;
    font-weight: 400;
}
.ver{
    font-size: 8px;
    background: #ed3f17;
    padding: 2px 5px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    line-height: 12px;
    border-radius: 3px;
}
.myvid-list .vid-thumb{
    height: 320px;
    margin-bottom: 1rem;
    position: relative;
}
.myvid-list .vid-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.st-drop{
    position: absolute;
    right: 0;
    top: 0;
}
.st-drop .btn{
    padding: 0;
    background: none;
    cursor: pointer;
}
.st-drop .dropdown-toggle::after{
    display: none;
}
.st-drop .dropdown-menu{
    left: auto !important;
    right: 0;
}
.st-drop .dropdown-item{
    font-size: 12px;
    border-bottom: 1px solid #f2f2f2;
}
.st-drop .dropdown-item:last-child{
    border: none;
}
.myvid-list .vid-meta{
    color: #333;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
.myvid-list .vid-meta strong{
    color: #adadad;
    font-weight: 400;
}
.myvid-list .vid-meta:last-child{
    margin-bottom: 0;
}
.myvid-list .vid-tags{
    margin-left: 1rem;
}
.myvid-list .vid-tags span{
    font-size: 10px;
    display: inline-block;
    padding: 1px 6px;
    background: #e4e4e4;
    border-radius: 2px;
}
.vid-rev{
    position: absolute;
    background: rgba(0,0,0,0.4);
    color: #fff;
    padding: .2rem .7rem;
    bottom: 0;
    left: 0;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}
.vid-rev:hover{
    background: rgba(0,0,0,0.7);
}


/* Myorder List */
.filter-cols{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.filter-cols .flt-col{
    margin: 0 1rem;
}
.filter-cols .flt-col .col-title{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
    margin-right: 1rem;
    position: relative;
}
.filter-cols .flt-col .col-title:after{
    content: ":";
    position: absolute;
    right: -10px;
    font-size: 18px;
    top: -4px;
}
.filter-cols .flt-col .dt-box{
    display: inline-block;
}
.dt-box .form-control{
    border-radius: 0 !important;
    font-size: 12px;
}
.dt-box .input-group-addon{
    border-radius: 0 !important;
}
.custom-radio{
    display: inline-block;
    margin: 0 10px;
    font-weight: 400;
    cursor: pointer;
}
.custom-radio input[type=radio]{
    display: none;
}
.custom-radio span{
    position: relative;
    display: inline-block;
    padding-left: 26px;
}
.custom-radio span:before{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #dedede;
    border-radius: 100%;
    left: 0;
    top: 0;
    content: "";
    box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
}
.custom-radio span:after{
    width: 10px;
    height: 10px;
    position: absolute;
    background: #fff;
    border-radius: 100%;
    left: 5px;
    top: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    content: "";
    transform: scale(1.5);
    opacity: 0;
    transition: all ease-in-out 300ms;
}
.custom-radio input[type=radio]:checked ~  span:before{
    background: #3f51b5;
}
.custom-radio input[type=radio]:checked ~  span:after{
    transform: scale(1);
    opacity: 1;
}


.myorder-list{
    max-width: 50rem;
    margin: auto;
}
.myorder-list .card{
    margin-bottom: 1rem;
}
.myorder-list .ord-top{
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    color: #333;
    font-weight: 400;
    letter-spacing: 1px;
}
.myorder-list .ord-top strong{
    color: #adadad;
    font-weight: 400;
}


.myorder-list .temp-list{
    margin: 1.25rem 0;
}
.myorder-list .temp-list > ul{
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 70%;
}
.myorder-list .temp-list > ul > li{
    border-bottom: 1px solid #fff;
}
.myorder-list .temp-list > ul > li > a{
    display: block;
    padding: .7rem;
    color: #3f51b5;
    background: #f9f9f9;
    position: relative;
}
.myorder-list .temp-list > ul > li > a:hover{
    background: #f2f2f2;
}
.myorder-list .temp-list > ul > li > a .badge{
    position: absolute;
    right: .7rem;
}
.myorder-list .temp-list > ul > li > a .qty{
    padding-left: 10px;
    margin-left: 10px;
    color: #c2c2c2;
    border-left: 1px solid #ddd;
    font-size: 10px;
}
.myorder-list .temp-list > ul > li > a .qty strong{
    font-size: 12px;
    color: #414141;
    padding-left: 2px;
}
.myorder-list .ord-cr{
    text-align: right;
}
.myorder-list .ord-cr h2{
    font-weight: 400;
    margin-bottom: .5rem;
    color: #3f51b5;
}
.myorder-list .ord-cr h2 span{
    font-size: 14px;
    color: #b0b0b0;
}
.myorder-list .ord-cr h3{
    color: #3f51b5;
    font-weight: 400;
}
.myorder-list .ord-cr h3 span{
    font-size: 14px;
    color: #b0b0b0;
}
.myorder-list .ord-btns{
    margin-top: 2rem;
}
.myorder-list .ord-btns .btn{
    margin-right: .5rem;
}
.myorder-list .ord-btns .btn .icons{
    margin-right: .5rem;
    opacity: .7;
}
.myorder-list .btn-cancel{
    color: #ababab;
    text-decoration: underline;
    margin-top: 7px;
    display: inline-block;
}
.myorder-list .btn-cancel:hover{
    color: #ed3f17;
}





































