@charset "utf-8";
/* CSS Document */

@import url('font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@font-face {
    font-family: 'signpaintermedium';
    src: url('../fonts/signpainter-housescript-webfont.woff2') format('woff2'),
         url('../fonts/signpainter-housescript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}
a{
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
}
a:hover,a:focus{text-decoration: none; color: #3f51b5;}



body{
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight:300;
    color: #8c8c8c;
    overflow-x: hidden;
    line-height: 20px;
    background-color: #f2f4fa;
}

header{height: 50px; background-color: #fcfdff; border-bottom: 1px solid #e8ebf6;}
header .navbar-brand{font-family: 'signpaintermedium';}


.main-header .navbar{padding:0 0 0 15px; height: 50px}
.main-header .navbar-brand{padding: 0; font-size: 40px; line-height: 40px; color: #0e1519;}
.main-header .navbar-setting{padding: 0 10px !important; border-left: 1px solid #e8ebf6;}
.main-header .navbar-setting li a{padding: 14.5px 18px !important; position: relative;}
.main-header .navbar-setting li a img{width: 20px; opacity: 0.5;}
.main-header .navbar-setting li a:hover img{opacity: 1;}
.main-header .navbar-setting .numb{     
    height: 22px;
    min-width: 22px;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: 8px;
    left: 30px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    line-height: 19px;
    border: 2px solid #fff;
    padding: 0 5px;}
.main-header .navbar-setting .numb.red{ background-color: #ed3f17; }
.main-header .navbar-setting .numb.blue{ background-color: #1795ed; }
.main-header .navbar-setting .numb.ylw{ background-color: #ffbe40; }
.main-header .navbar-setting .numb.grn{ background-color: #6cd040; }


.breadcrumb-wrap{display: inline-block;}
.breadcrumb-wrap ul{margin: 0; padding: 0; list-style: none;}
.breadcrumb-wrap ul li{ position: relative; }
.breadcrumb-wrap ul li:before{ font-family: 'Montserrat', sans-serif;   position: absolute;
    content: '/';
    left: 0;
    top: 0;
    font-size: 24px;
    color: #c2c7d3; font-weight: 300;}
.breadcrumb-wrap ul li a{padding:5px 20px; color: #161d30; text-transform: uppercase; font-family: 'Poppins', sans-serif; font-weight: 500;  }
.main-header-right{ display: flex; flex-direction: row; margin-left: auto;}


.sidebar-tgl-bar{    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #e8ebf6;
    width: 50px;
    border-bottom: 1px solid #e8ebf6;
    padding: 12px 15px;
    height: 50px;
    text-align: center;background-color: #fff; cursor: pointer; }
.sidebar-tgl-bar img {max-width: 100%;}

.main-header .cart-info-link img{width: 26px; }
.main-header .cart-info-link{padding: 12px 18px !important; border-left: 1px solid #e8ebf6; position: relative;}
.main-header .prfl-info-link{padding: 8px 18px !important; border-left: 1px solid #e8ebf6;}
.main-header .prfl-info-link img{ width: 34px; height: 34px; border-radius: 100%;}

.main-header .cart-info-link .numb{height: 22px;
    min-width: 22px;
    border-radius: 20px;
    color: #fff;
    font-size: 11px;
    position: absolute;
    top: 8px;
    left: 30px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    line-height: 19px;
    border: 2px solid #fff;
    padding: 0 5px; background-color: #ed3f17;}


/*---Sidebar---*/

.sidebar {
  width: 50px;
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  z-index: 99;
  border-right: 1px solid #e8ebf6;
  background-color: #fff;
    transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
}
.sidebar.off{left:-50px;}
.main-wrapper.full{padding-left: 0;}

.sidebar .navbar-nav a{    padding: 15px 15px; display: block;}
.sidebar .navbar-nav a img{ max-width: 100%; }
.sidebar .navbar-nav a:hover{background-color: #f2f4fa; box-shadow: inset -3px 0 0 #4859b8; }


.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
  position: relative;
}

.sidebar-sub-nav{    
    position: absolute;
    top: 0;
    left: -150px;
    background-color: #fff;
    display: block;
    min-width: 150px;
    padding: 0 10px;
    min-height: 50px; opacity: 0;  
    box-shadow: 0 2px 3px rgba(0,0,0,0.2); 
    transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;}

.sidebar-sub-nav h4{ font-size: 16px;
    color: #4859b8;
    font-weight: 400;
    line-height: 50px;}  

  .sidebar .nav-item:hover .sidebar-sub-nav{ opacity: 1; left: 50px;}  

.main-wrapper{width: 100%; padding-left: 50px; padding-top: 50px; min-height: 800px;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
}

.content-wrapper{padding:30px;}
.content-wrapper.topPadding{padding-top:65px;}
.wrapper-header{height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #e8ebf6;
    padding-right: 15px;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    padding-left: 50px;z-index: 80;}

.wrapper-header-left{float: left; position: relative; z-index: 2;}
.wrapper-header-right{float: right; 
    display: flex;
    align-items: center;
    height: 50px; position: relative; z-index: 2;}


.filter-nav-holder {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}
.filter-nav{display: inline-block; margin: 0; padding: 0;}
.filter-nav li{list-style: none; display: inline-block;}
.filter-nav li a{font-size: 13px; text-transform: uppercase; color: #000; font-weight: 400; padding: 15px; display: block;}
.filter-nav li a:hover,.filter-nav li a.active{box-shadow: inset 0 -3px 0 #4859b8; color: #4859b8;}


.btn.btn-comn{background-color: #3f51b5; color: #fff; font-size: 13px; text-transform: uppercase;}
.btn.btn-comn:hover{background-color: #283892;}
.btn:focus{outline: none; box-shadow: none;}


/*checkbox readio*/

.custom-radio,.custom-check {
    position: relative;
}
.custom-radio input[type="radio"],.custom-check input[type="checkbox"] {
    position: absolute;
    left: -999px;
}
.custom-radio input[type="radio"]+label , .custom-check input[type="checkbox"]+label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #000000;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0;
}
.custom-radio input[type="radio"]+label::before {
    content: '';
    height: 22px;
    width: 22px;
    border: 1px solid #e0e0e0;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.custom-radio input[type="radio"]:checked+label::after {
content: '';
    width: 10px;
    height: 10px;
    background: #030f6c;
    border-radius: 100%;
    position: absolute;
    top: 6px;
    left: 6px;
}
.custom-radio input[type="radio"]:checked+label::before{border: 1px solid #3f51b5;}

.custom-check input[type="checkbox"]+label::before {
content: '';
height: 20px;
width: 20px;
border: 1px solid #e0e0e0;
border-radius:0;
position: absolute;
left: 0;
top: 0;
}
.custom-check input[type="checkbox"]:checked+label::before{border: 1px solid #3f51b5;}
.custom-check input[type="checkbox"]:checked+label::after {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    width: 17px;
    height: 14px;
    color: #3f51b5;
    position: absolute;
    top: 1px;
    left: 3px;
    font-size: 15px;
    line-height: 17px;
}

.refine-link{font-size: 13px; color: #000000 !important; font-weight: 400; display: inline-block; cursor: pointer; text-transform: uppercase; padding: 14px 20px;
    border-right: 1px solid #e8ebf6;}
.refine-link img{    max-width: 16px;}

.refine-wrap.active .refine-link{background-color: #fcfdff;}

.refine-wrap{ position: relative; float: left;}
.refine-list-box h4{font-weight: 500; font-size: 14px; color: #000000; text-transform: uppercase;}
.refine-list-wrap{width: 260px; background-color: #fcfdff;border-right: 1px solid #e8ebf6;  position: absolute; 
  left: 0; top: 49px;display: none; height: 70vh;}

.refine-list-wrap-inr{height: 100%; padding-bottom: 50px; padding:0 15px; position: relative;}

.refine-list-box ul{margin: 0; padding: 0; list-style: none;}
.refine-list-box ul li{display: block; padding: 8px 0;}
.refine-list-box{padding: 15px 0; border-top: 1px solid #e8ebf6;}
.refine-list-wrap .refine-list-box:nth-of-type(1){border-top:none;}

.refine-list-box h4 {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
        margin-bottom: 10px;
}


.topSearch-wrp{position: relative; float: left; }
.topSearch-link{ line-height: 50px; padding: 0px 15px; display: inline-block;}
.topSearch-link img{width: 20px;}
.topSearch-box{
  position: relative;
    width: auto;
    padding: 0;
    background-color: #fcfdff;
    border: none;
    left: 0;
    top: auto;
    border-top: none;
}
.topSearch-group{    position: relative;
    padding-right: 40px;}
.topSearch-group .form-control{    color: #8c8c8c;
    font-size: 13px;
    border-radius: 0;
    height: 49px;
    font-weight: 300;
    border: none;
    border-right: 1px solid #e8ebf6;
    width: 0;
    padding: 0;
    opacity: 0;
    transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -moz-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms;
  }
.topSearch-group .search-btn{ position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    line-height: 50px;
    padding: 0 10px;
    cursor: pointer;
    color: #8c8c8c;}
.topSearch-group .search-btn:focus{outline: none;}
    .search-btn img{width: 20px;}

.topSearch-group.active .form-control{width: 150px; padding: 0 10px; opacity: 1;}    

.clearAll-wrap{width: 100%; padding: 10px 0; background-color: #fff; position: absolute; bottom: 0; left: 0; right: 0; text-align: center;}
.clearAll{color: #bababa; font-size: 11px; background-color: #f5f7fb; padding: 5px 10px; border-radius:6px; margin:0;}


/*listing*/
.listing-col{margin-bottom: 10px;}

.listing-block{ border-radius: 3px;
    position: relative;
    background: #fff;
    padding: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);}
.listing-block .img-sec {
    height:160px;
    margin-bottom: 10px; position: relative;
}
.listing-block .img-sec img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.heading-text{font-family: 'Poppins', sans-serif; color: #161d30;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;}
.listing-text h3{  font-size: 18px;
    font-weight: 300;
    color: #000000;
    line-height: 18px; margin-bottom: 5px;}
    .listing-dsc-text{height: 40px; overflow-y: hidden;}
    .listing-dsc-text p{font-weight: 300; color: #8c8c8c; font-size: 13px; line-height: 14px; margin-bottom: 0;}
   .listing-sm-info{  margin: 5px 0 0 0;} 
   .listing-sm-info .type{font-size: 11px; text-transform: uppercase; font-weight: 500; color: #bababa; margin-bottom: 5px; display: inline-block;}
   .listing-sm-info .catg{    color: #bababa;
    font-size: 11px;
    background-color: #f5f7fb;
    padding: 4px 13px;
    border-radius: 20px;
    margin-bottom: 5px;
    display: inline-block;
    line-height: 14px;}

   .listing-block .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
    width: 100%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    opacity: 0;
}





.listing-block .listing-block-actions {
    position: absolute;
    bottom: 4px;
    left: 0;
    display: block;
    width: 100%;
    margin-left: auto;
    text-align: center;
    
}

 .listing-block .button-action {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 0;
    border: 0;
    overflow: visible;
    border-radius: 49%;
    -webkit-border-radius: 49%;
    -moz-border-radius: 49%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: 0 2px 12px 3px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 12px 3px rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 3px rgba(0,0,0,.1);
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    cursor: pointer;
}


.listing-block .button-action-play{background: rgba(63,81,181,.9) url(../images/play-wht.svg) center center no-repeat;  background-size: 28px auto;}
.listing-block .button-action-like{background: rgba(63,81,181,.9) url(../images/like-wht.svg) center center no-repeat;  background-size: 16px auto;}
.listing-block .button-action-cart{background: rgba(63,81,181,.9) url(../images/cart-wht.svg) center center no-repeat;  background-size: 15px auto;}

.listing-block .button-action-like.active{background: rgba(255,255,255,1) url(../images/like-red.svg) center center no-repeat;  background-size: 15px auto;}
.listing-block .button-action-cart.active{background: rgba(255,255,255,1) url(../images/cart-color.svg) center center no-repeat;  background-size: 15px auto;}



.listing-block .listing-selected-actions {
    position: absolute;
    top: 4px;
    right: 5px;
    display: block;
    width: 35px;
    text-align: right;
}

.listing-block .listing-selected-actions .button-action{width: 25px; height: 25px;}

.listing-selected-actions .button-action-like.active{background: rgba(255,255,255,1) url(../images/like-red.svg) center center no-repeat;  background-size: 12px auto;}
.listing-selected-actions .button-action-cart.active{background: rgba(255,255,255,1) url(../images/cart-color.svg) center center no-repeat;  background-size: 14px auto;}

.listing-block:hover .listing-selected-actions{ opacity: 0; }
.listing-block:hover .overlay{opacity: 1;}


.videoWrapper {
 position: relative;
 padding-bottom: 56.25%; /* 16:9 */
 padding-top: 25px;
 height: 0;
}
.videoWrapper iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.modal-dialog.full-modal-dialog{ max-width: 100%;
    margin: 0;
    width: 100%;}
.full-modal-dialog .modal-body{padding: 0; background-color: rgba(0,0,0,1)}
.full-modal-dialog .modal-body-inr{padding: 20px;}
.full-modal-dialog .close{position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.6);
    right: 0;
    top: 0;
    z-index: 2;
    color: #fff;
    text-shadow: none;
    font-size: 40px;
    border-radius: 100%;}